*, *:before, *:after {
  box-sizing: border-box;
  
}

body {
  background-color: #333;
  font-family: helvetica;
  font-size: 10px;
  line-height: 4px;
}

.container {
  margin: 0 auto;
  width: 420px;
 
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: black;
  
}

.restaurant-list, {
  padding-top:50px
 
}


.location {
  clear: both;
  background-color: #dadada;
  border-bottom: 1px solid darkgrey;
  height: 70px;
  padding:10px;
}

.location:hover {
  background-color: darkgrey;
  
}
.content {
  float: left;
 
}

.arrow {
    float: right;
    padding: 15px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  
}
