*, *:before, *:after {
  box-sizing: border-box;
  
}

.location:hover { 
    background-color: yellow;
   
}


body {
  background-color: #2111;
  font-family: helvetica;
  font-size: 11px;
  line-height: 4px;
}

.container {
  margin: 0 auto;
  width: 420px;
 
}

nav {
  margin: 0 auto;
  padding: 5px 0 5px 5px;
  position: fixed;
  width: 50px;
  
}

section {
  margin: 0 auto;
  width: 100%;
}


.restaurant-list, {
  margin: 1%;
  padding: 1%;
  width: 80%;

 
}

.content {
  border: 1px solid black;
  margin: 4%;
  padding: 4%;
  width: 80;
}

.arrow {
    position: relative;
    bottom: 100%;
    right: -70%;
    width: 300%;

  
}


.location {
  display: location;
    margin: 0px;
  padding: 1px;
  width: 550px;
}



div {
  float: fixed;
  margin: 10px 1% 0 1%;
  height: 100px;
  width: 80%;
}
