*,  {

box-sizing: border-box;

}

body {
  background-color: #white;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 4px;
}

header {
  margin: 0 auto;
  width: 100%;
  height: 85px;
  background-color: white;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid darkgrey;

}

.container {
  margin: 0 auto;
  width: 414px;
  height: ;

}

.bus-stop-list, {
  padding-top: 0px
  width: 414px;
  display: inline-block;
}

.symbol-back-arrow {
  width: 10%
  margin: 0 auto;
  display: inline-block;
  float: left;
  padding-left: 13px;
  padding-right: 50px;
  padding-top:
  padding-bottom:
}


.bus-header {
  width: 100%;
  clear: both;
  background-color: #0099ff;
  border-bottom: 1px solid darkgrey;
  color: white;
  height: 20px;
  padding:5px;
  padding-left: 5px;
  padding-right: 0px;
  font-size: 16px;
  float: left;
  text-align: left;

}

.bus-stop {
  width: 40%
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  padding-left: 85px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom:5px;
  float: left;
}


.location {
  background-color: #white;
  border-bottom: 1px solid darkgrey;
  height: 80px;
  padding:
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}


.frequency {
  width: 15%
  background-color: #white;
  height: px;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
  clear: both;
  float: center;


}


.location:hover {
  background-color: #ffffcc;

}

.content {
  float: left;
  width:
  display: inline-block;


}

.arrow {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: normal;
    color: #070806;
    display: inline-block;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  font: sans;
}

h3 {
  font-size: 14px;
  font: sans;

}
